= content_tag :div, class: 'media', id: "person-#{person.id}" do
  .media-body
    %p
      = link_to person.name, person
      - if policy(person).destroy?
        | #{link_to "Remove Person", [person.post, location], method: :delete, remote: true}
