= content_tag :div, class: 'media', id: "period-#{period.id}" do
  .media-body
    %p
      = link_to period.start, period
      - if policy(period).destroy?
        | #{link_to "Remove Person", [period.post, period], method: :delete, remote: true}
