- content_for :main_content do
  %h1 The idea behind Volunteer Connect
  %p If you were a Peace Corps Volunteer in Guinea, you probably read or wrote a site journal about the village that you lived in.  It was probably written on paper and left at the site.  You might have written a blog about your experiences that were not shared with others who lived in that same site.  You might have heard of the legends of past volunteers or residents of your sites.
  %br/
  %p When I first arrived at my village in Lelouma in 1994, I was told that I was the first Peace Corps volunteer serving there.  After about a year, I met someone who thought there might have been a volunteer in the mid 1960's.  I developed a kinship to the people in Lelouma and absolute love of the area.  I explored the area intensely and each day discovered new features of the land that I didn't know about.  I found new waterfalls, new cliffs, new handmade bridges out of vine and twigs, small villages, interesting people, interesting history about the village, etc.  I always wanted to share the cool things that I learned to the volunteers who came after me (and before me).  I never did.  There is probably only a handful of people who would be interested in this information and I would love to learn how the area has changed.
  %br/
  %p This site will allow us to share this information.
  %br/
  %h1 Sharing of Information
  %p Part of the problem is that many existing web venues are trying to make money with users content.  This creates problems about sharing personal information that only a limited amount of people will  truly value and be touched.
  %br/
  %p This site is built by volunteers for volunteers and it's content will never be sold or be given to earn money.

  %br/
  %h1 Where we are right now
  %p At the moment, this is built specifically for Friends of Guinea and Guinea Peace Corps Volunteers.  Photos and text are welcome.  Links to video can be made but attaching videos won't be possible.  To see the content, you must be a member (which is free).
  %br/
  %h1 Spelling
  %p Since many languages are spoken in Guinea, some written and some not.  Spelling of villages and areas vary depending on languages.  For this site, there needs to be a consistency so make it easier to search.  If you see glaring spelling issues, please let us know but we will try to stick with one way to spell a village for consistency.
  %br/
  %h1 Designed and Developed
  %p By UX Dysart LLC (Lelouma 94-96)

- content_for :nav_content do
  %h1 About Volunteer Connect!
