%br/
.jumbotron
  %h1 Volunteer Connect
  %h1 Thanks for checking out Volunteer Connect!
  %p Thanks for checking us out.  To see member's posts or to search for villages, people or cohorts you must log in.
  %p You can set up an account for free!



  = link_to "Log In", new_user_session_path, class: 'btn btn-primary'
  or
  = link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary'
  today!


%table.center-table.table
  %h3{style: 'text-align: center;'} Our users have recently submitted posts about these villages!
  %thead
    %tr
      %th Village
      %th Time Period
  %tbody
    %tr
      %td Lelouma
      %td 1994
    %tr
      %td Kankan
      %td 2001
    %tr
      %td Kindia
      %td 2008

%br/
%br/
