- content_for :nav_content do

  %h1
    Edit Attachment for Post:


- content_for :main_content do
  %h1 Editing post_attachment

  = render 'form'

  = link_to 'Show', @post_attachment
  \|
  = link_to 'Back', post_attachments_path
