.media
  .media-body
    %h3.media-heading
      = link_to (post.title), [post]
    %p
      = post.body
    %small
      submitted #{time_ago_in_words(post.created_at)} ago by
      \#{post.user.name}
      %br/
    %h4
      Tags
    %h4
      Comments:
    .js-comments
      - post.comments.each do |comment|
        =render partial: 'comments/comment', locals: {comment: comment}
