- content_for :nav_content do
  %h1 Add a New Post

- content_for :main_content do

  - @post.locations.each do |location|
    =render partial: 'locations/location', locals: {location: location}


  = render partial: 'form', locals: { post: @post }
