- content_for :nav_content do
  %h1
    =@post.title

- content_for :main_content do
  .row
    .col-md-10
      = render partial: 'post', locals: { post: @post }

      .new-comment
        = render partial: 'comments/form', locals: {post: @post, comment: @comment}



    .col-md-2
      - if policy(@post).edit?
        = link_to "Edit", edit_post_path( @post), class: 'btn btn-success'
      - if policy(@post).destroy?
        = link_to "Delete Post", [@post], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this post?' }
