$top_header_height: 125px;
$top_header_height_adjusted: $top_header_height - 15px;
$left_nav_width: 300px;
$left_nav_width_adjusted: $left_nav_width + 15px;

.top-nav {
  height: $top_header_height;
  text-align: center;
}

// Time Search
.close {
  display: none !important;
}

.to_search {
  width: 100px !important;
  display: inline-block;
}

.from_search {
  width: 100px !important;
  display: inline-block;
}

// Fix search alignment
.form-control {
  top: -15px !important;
}

.left-nav {
  background: #726f6f;
  display: block;
  width: $left_nav_width;
  position: absolute;
  top: $top_header_height_adjusted;
  bottom: 0;
  left:0px;
}

.nav-content {
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  text-align: center;
}


.main-body {
  background: white;
  position: absolute;
  left: $left_nav_width;
  top: $top_header_height_adjusted;
  bottom: 0;
  right: 0;
  overflow: hidden;
  overflow-y: auto;
  padding: 20px 120px 0 0;
}

#log_in {
  text-align: right;
}

.main-content {
  padding: 20px;
}
#search_button {
  font-size: 25px;
}

#search_menu_button {
  font-size: 25px;
}
.navbar-form {
}
.navbar-form .form-control {
  display: inline-block;

  height: 50px;
  vertical-align: middle;
}

// Small Avatar Photo in Nab bar

.small-avatar {
  font-size: 3em;
  line-height: .5em;
  text-align: right;
  border-radius: 50%;
  background: white;
}

.small-avatar .glyphicon-user{

}


.small-avatar-photo img {
  font-size: 5em;
  text-align: center;
  left: 50%;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  background: white;
}
// CSS for typeahead in Navigation Search


#prefetch .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}
.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

// Make Navigation Bar be responsive

@media screen and (max-width : 750px){

  .left-nav  {
    display: none;
  }
  .main-content{
    left: 0;

  }
  .main-body {
    left: 0;
    top: 190px;
  }
  .navbar-form .form-control {

    width: 225px;
  }

  .navbar-right {
    float: right !important;

  }
  .navbar-form .form-group {
    display: inline;
  }

}

@media screen and (min-width: 751px) and (max-width : 1000px){
  .navbar-form .form-control {

    width: 300px;
  }

}
@media screen and (min-width: 1001px){
  .navbar-form .form-control {

    width: 500px;
  }
}
