.post_content {
  text-align: center;
}


.tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

.fill {
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden
}
.fill img {
    flex-shrink:0;
    min-width:100%;
    min-height:100%
}
