.large-avatar {
  font-size: 4em;
  line-height: 1.2em;
  text-align: center;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  background: white;
}

.large-avatar-photo img {
  font-size: 5em;
  text-align: center;
  left: 50%;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  background: white;
}
