= content_tag :div, class: 'media', id: "location-#{location.id}" do
  .media-body
    %p
      = link_to location.name, location, class: 'tag label label-info'
      - if policy(location).destroy?
        | #{link_to "Remove Location", [location.post, location], method: :delete, remote: true}
