- content_for :nav_content do
  %h1
    = @location.name

- content_for :main_content do
  .row
    .col-md-12
      - @posts.each do |post|
        = render partial: 'posts/post', locals: { post: post }
        .new-comment
          = render partial: 'comments/form', locals: {post: post, comment: @comment}
  = will_paginate @posts
