= text_field_tag :search, params[:search], id: 'time_search_from', class: "typeahead form-control from_search close", placeholder: "From:"
%span#search_to_tag.close
  TO
= text_field_tag :search, params[:search], id: 'time_search_to', class: "typeahead form-control to_search close",  placeholder: "Year"
